body {
  background: #cfdac8;
}
.weatherapp {
  margin: 7% 18%;
  border-width: 200px;
  border-color: black;
  background-color: rgba(255, 255, 255, 0.233);
  padding: 50px;
  border-radius: 3%;
}
#date-time {
  text-align: left;
  font-size: 20px;
}
.city {
  color: #184d47;
}
.tempChange {
  font-size: 20px;
}
.nature {
  width: 90%;
}
.cloud-sun-rain {
  width: 70px;
  color: black;
  display: block;
  margin: 0 auto;
}
.gethubrepo {
  text-align: center;
}
