body {
  background-image: url(https://image.freepik.com/free-photo/wooden-wood-backgrounds-textured-pattern-wallpaper-concept_53876-14103.jpg);
}
h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
a {
  display: inline;
  font-weight:normal;
  font-size: 20px;
}
.citybox {
  border-radius: 20px 0 0 20px;
  border-color: transparent;
  background-color: white;
}
.submitbutton {
  background-image: url(https://image.freepik.com/free-photo/wooden-wood-backgrounds-textured-pattern-wallpaper-concept_53876-14103.jpg);
  color: white;
  font-weight: bold;
  border-radius: 0 20px 20px 0;
  box-shadow: transparent;
  border-image: url(https://image.freepik.com/free-photo/wooden-wood-backgrounds-textured-pattern-wallpaper-concept_53876-14103.jpg);
}
.citysearch {
  display: block; 
  margin: 0 auto;
}
.description {
text-align: center;
}
.weatherapp {
  margin: 7% 18% 2% 18%;
  border-width: 200px;
  border-color: black;
  background-color:#f2eeebc7;
  padding: 50px;
  border-radius: 40px;
  font-family: 'oxygen', sans-serif;
}
.todo {
  text-align: center;
}
.city {
  text-align: center;
  color: #184d47;
}
.tempChange {
  font-size: 20px;
}
.todo1 {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  background-color:#666;
  opacity: 0.5;}
.nature {
  display: block;
  float: right;
  margin: 1% auto;
  width: 50%;
}
.col-2 {
  text-align: center;
}


.footer {
  color: black; 
}
b {
  font-size: 70px;
  font-family: 'oxygen', sans-serif;
}
.datetime {
  display: inline-block;
  margin: 0 0 0 300px;
  text-align:right;
  font-family: 'oxygen', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: black;
}
.weatherforecast {
  border-color: black ;
}
.weather-forecast-date {
  text-align: center;
}
.weather-forecast-temperature-max {
  text-align: center;
  font-weight: bold;
}
footer {
  text-align: center;
  font-family: 'oxygen', sans-serif;
  font-weight: bolder;
  text-align: center;
  border-radius: 10%;
}
.wind {
  line-height: 3px;
}
